server:
  port: 8084
spring:
  application:
    name: search-service

  elasticsearch:
    uris: ${ELASTICSEARCH_URI:http://localhost:9200}
    username: ${ELASTICSEARCH_USERNAME:}
    password: ${ELASTICSEARCH_PASSWORD:}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui
  show-actuator: true

management:
  endpoints:
    web:
      cors:
        allowed-origins: "http://localhost:4200"
        allowed-methods: "GET"
        allowed-headers: "*"
        allow-credentials: false
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true

server-service:
  base-url: ${SERVER_SERVICE_BASE_URL:http://localhost:8031/api/}

